<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top justify-content-between mb-3 ">
    <span class="navbar-brand h1 mr-5">Espace Patient</span>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Acceuil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Dossies Medicales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">rendez-vous</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">.......</a>
      </li>
    </ul>
    
    <form class="form-inline">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-user-circle"> : </i> {{user.email}} 
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <div style="text-align: center;"><img style="border-radius : 50%;width:50px;" src="/assets/profile.png" alt=""></div>         
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#"> Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/auth/logout">Déconnexion</a>
        </div>
      </div>  
    </form>
</nav>

{{!-- <div class="container">
    <div class="row">
        <div class="col-3">
            <div class="card" style="width: 200px ; height:200px">
            {{#if doc.man}}
            <img src="/assets/doc2.jpg" style="width: 100%;" class="card-img" alt="...">
            {{else}}
            <img doc="/assets/doc1.jpg" style="width: 100%;" class="card-img" alt="...">
            {{/if}}   
            </div>
        </div>
    </div>
</div> --}}

<div class="back">
<div class="cont">
    <div class="row justify-content-between">
        <div class="col-3">
            <div class="card1" style="width: 200px ; height:200px">
            {{#if doc.man}}
            <img src="/assets/doc2.jpg" style="width: 100%;" class="card-img" alt="...">
            {{else}}
            <img doc="/assets/doc1.jpg" style="width: 100%;" class="card-img" alt="...">
            {{/if}}   
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs mb-5 mt-5" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Présentation</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Biographie</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
    </li>
    </ul>
    <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">..gssdggsdfgfsdgsdggdsfgfsd.</div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">{{doc.bio}}</div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
    </div>
</div>
</div>