<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Bienvenue chez Cabinet Medical</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Medizin Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>
    <!-- //Meta tag Keywords -->
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/slider.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700" rel="stylesheet">
    <!-- //Fonts -->
</head>

<body>
        <!-- mian-content -->
        <div class="main-w3layouts-header-sec">

            <!-- header -->
            <header>
                <div class="container">
                    <div class="header d-lg-flex justify-content-between align-items-center">
                        <div class="header-section">
                            <h1 style="color: aliceblue;">
                                {{!-- <a class="navbar-brand logo editContent" href="index.html"> --}}
                                    Cabinet Medical
                            </h1>
                        </div>
                        <div class="nav_section">
                            <nav>
                                <label for="drop" class="toggle mt-lg-0 mt-1"><span class="fa fa-bars" aria-hidden="true"></span></label>
                                <input type="checkbox" id="drop" />
                                <ul class="menu">
                                    <li class="active"><a href="/">Acceuil</a></li>
                                    
                                   
                                    <li><a href="/acceuil">connectez-vous</a></li>
                                </ul>
                            </nav>
                        </div>

                    </div>
                </div>
            </header>
            <!-- //header -->
            <!-- banner -->
            <section class="banner_w3pvt" id="home">
                <div class="csslider infinity" id="slider1">
                    <input type="radio" name="slides" checked="checked" id="slides_1" />
                    <input type="radio" name="slides" id="slides_2" />
                    <input type="radio" name="slides" id="slides_3" />
                    <input type="radio" name="slides" id="slides_4" />
                    <ul>
                        <li>
                            <div class="banner-top">
                                <div class="overlay">
                                    <div class="container">
                                        <div class="banner-info">
                                            <div class="banner-w3layouts-inner">
                                                <h3>Doute, inquiétude,besoin d’un conseil santé ou un rendez-vous ?
                                                  <span>
                                                    Faire un rendez-vous en ligne !
                                                  </span> 
                                                </h3>
                                                <h4>Nous sommes à votre service.</h4>
                                                <a href="/acceuil" class="read btn mt-3">Chercher un docteur</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <!-- //banner -->



        </div>
        <!-- //header -->
        <!--/banner-bottom -->
        <section class="banner-bottom py-5">
            <div class="container-fluid inner-sec-w3ls">
                <div class="feature-grids row text-center">
                    <div class="col-lg-3 gd-bottom one">
                        <div class="bottom-gd">
                            <span class="fa fa-wheelchair" aria-hidden="true"></span>
                            <h3 class="mb-2">Équipement moderne</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="col-lg-3 gd-bottom">
                        <div class="bottom-gd">
                            <span class="fa fa-user-md" aria-hidden="true"></span>
                            <h3 class="mb-2">
                                Médecins célèbres</h3>
                            <p></p>

                        </div>
                    </div>
                    <div class="col-lg-3 gd-bottom">
                        <div class="bottom-gd">
                            <span class="fa fa-life-ring" aria-hidden="true"></span>
                            <h3 class="mb-2">Surveillance de la santé</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="col-lg-3 gd-bottom">
                        <div class="bottom-gd">
                            <span class="fa fa-folder-open-o" aria-hidden="true"></span>
                            <h3 class="mb-2">Réservation d'une visite</h3>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- //banner-bottom -->
        <!-- /last-content -->
        <!-- //last-content -->
        <section class="banner-bottom py-5">
            <div class="container py-md-5">
                <div class="row banner-grids mb-lg-5">
                    <div class="col-lg-4 content-left">
                        <img src="images/ab.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-4 content-left">
                        <img src="images/ab1.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-4 content-right">
                        <h5 class="mt-1">Fais nous confiance</h5>
                        <h4>Nous aiderons à retrouver la santé, à tous.</h4>
                        <p class="mt-2 text-left">Efficacité du process.</p>
                        <ul class="tic-info list-unstyled">
                            <li>

                                <span class="fa fa-hand-o-right"></span> Recherchez votre médecin

                            </li>
                            <li>

                                <span class="fa fa-hand-o-right"></span> Consultez si celui-ci n'est pas disponible dans le délai demandé

                            </li>

                        </ul>

                    </div>

                </div>
                <div class="row mt-lg-5 mt-4 pt-5 text-center" id="stats">

                    <div class="col-lg-4 counter editContent mt-3">
                        <span class="fa fa-users"></span>
                        <div class="counter-info">
                            <h4>7200+</h4>
                            <p>Clients sains et heureux</p>

                        </div>
                    </div>
                    <div class="col-lg-4 counter two editContent mt-3">
                        <span class="fa fa-user-md"></span>
                        <div class="counter-info">
                            <h4>150+</h4>
                            <p>Spécialiste médical professionnel</p>

                        </div>
                    </div>
                    <div class="col-lg-4 counter editContent mt-3">
                        <span class="fa fa-diamond"></span>
                        <div class="counter-info">
                            <h4>15+</h4>
                            <p>Des années de travail impeccable et réussi</p>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /tabs -->
        <section class="tabs-blue py-5">
            <div class="container pt-md-5">
                <div class="header-w3layouts text-center mb-5">
                    <h3 class="title-w3pvt mb-3">Parmi nos services</h3>

                </div>
                <div class="tab-main mx-auto">

                    <input id="tab1" type="radio" name="tabs" class="w3layouts-sm" checked>
                    <label for="tab1">Cardiology</label>

                    <section id="content1" class="inner-w3layouts-wrap">

                        <div class="row part-grids text-center inner-sec-w3ls">

                            <div class="col-md-6 partgrid2">
                                <div class="thumbnail card">
                                    <div class="img-event">
                                        <img class="img-fluid" src="images/g1.jpg" alt="">
                                    </div>
                                    <div class="caption card-body p-md-4">
                                        <h4 class="mb-4 editContent">Professionnalisme</h4>
                                        <p>
                                            Le site de prise de rendez-vous avec les professionnels de santé</p>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6 partgrid1">
                                <div class="thumbnail card">
                                    <div class="img-event">
                                        <img class="img-fluid" src="images/g2.jpg" alt="">
                                    </div>
                                    <div class="caption card-body p-md-4">
                                        <h4 class="mb-4 editContent">Contact avec une secretaire </h4>
                                        <p>
                                            Si vous n’en avez pas le temps ou la possibilité, un opérateur de notre site peut se charger d’appeler les secrétariats et prendre vos rendez-vous à votre place.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </section>
                  
                
                </div>

            </div>
        </section>
        <!-- //tabs -->
        <!-- //last-content -->
        <section class="lab-test py-5" id="lab">
            <div class="container py-md-5">
                <div class="row banner-grids mb-lg-5">
                    <div class="col-lg-6 content-right pt-md-4">
                        <h5 class="mt-1">Fais nous confiance</h5>
                        <h4>L'excellence est notre spécialité</h4>
                        <p class="mt-2 text-left">plus de 15 ans d'experience</p>
                        <ul class="tic-info list-unstyled">
                            <li>

                                <span class="fa fa-hand-o-right">Rapidité de service</span> 

                            </li>
                            <li>

                                <span class="fa fa-hand-o-right">Facilité de faire des rendez-vous</span> 

                            </li>
                            <li>

                                <span class="fa fa-hand-o-right">Facilité de suivie des consultations</span> 

                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-6 content-left">
                        <img src="images/lab.png" alt="" class="img-fluid">
                    </div>

                </div>
            </div>
        </section>
        <!-- //lab-test -->
        <!-- /grids-content1 -->
        <section class="testimonials py-5" id="test">
            <div class="container py-lg-3">
                <div class="header-w3layouts text-center mb-5">
                    <h3 class="title-w3pvt two mb-3"> Avis des patients </h3>

                </div>
                <div class="test-content">
                    <div class="testimonials_grid">

                        <span class="fa fa-quote-left" aria-hidden="true"></span>
                        <p class="sub-test editContent">
                          J'aime la façon dont ce site Web fonctionne, facile à utliser et à comprendre, ça m'a facilité de trouver des médecins et de faire des rendez-vous.
                        </p>
                        <div class="testi_grid">
                            <img src="images/c1.jpg" alt=" " class="img-fluid">
                            <h5>Ahmed badreddine</h5>
                            <label></label>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- //grids-content1 -->
    </div>
</body>

</html>
